* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/sunset.jpg);
  background-color: #25272f;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: normal;
  color: black;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20rem auto;
  padding: 2rem;
  max-height: 18rem;
  border: 1.5px solid rgba(160, 170, 255, 0.35);
  background-color: rgba(160, 170, 255, 0.35);
  position: relative;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.inputValue,
.from,
.convtValue,
.to {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.38rem 0.8rem;
  color: #495057;
  background-color: #fff;
  border-radius: 0.25rem;
}
